/* 헤더관련 css입니다. 헤더 관련 css는 다여기다가 넣으세요. */
.header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #fff;
    z-index: 5;
    box-shadow: 0px 1px 1px 0px #0000001A;
    box-sizing: border-box;
}

.header__column{
    display: flex;
    align-items: center;
    width: 33.33%;
}

.header__column:first-child{
    margin-left: auto;
}
.header__column:nth-child(2){
    display: flex;
    justify-content: center;
}
.header__column:last-child{
    display: flex;
    justify-content: flex-end;
}


.header .header__title{
    font-weight: 700;
    font-size: 17px;
}

.header .header__icons{
    display: flex;
    align-items: flex-end;
}

