/* text-box 관련 CSS 파일입니다. 비슷한 Text-Box 구조를 이루고 있다면 여기에 저장하세요. */
.text-box{
    width: 100%;
}

.text-box__text--bold{
    font-size: 25px;
    font-weight: 700; 
}

.text-box__text--small{
    font-weight: 400;
    font-size: 16px;
    color:var(--color-76);
}