.profile-detail{
    width: 100%;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.profile-detail__icons{
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-detail__icon-text{
    font-size: 18px;
    font-weight: 500;
    height: 22px;
}

.profile-detail__infos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-detail__img{
    position: relative;
    margin-bottom: 20px;
}

.profile-detail__img-basic{
    width : 104px;
    height: 104px;
    border-radius: 52px;
}
.profile-detail__circle{
    position: absolute;
    bottom: 2px;
    right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #fff;
}

.profile-detail__name{
    position: relative;
    width: 100%;
    text-align: center;
    color : #fff;
    font-size: 18px;
    font-weight: 500;
}
.profile-detail__statusMsg{
    position: relative;
    width: 100%;
    text-align: center;
    color:#ECECEC;
    font-weight: 400;
    font-size: 14px;
}
.profile-detail__contents{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-detail__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-detail__content-icon{
    width: 24px;
    height: 24px;
    margin-bottom: 12px;
}
.profile-detail__content-name{
    font-size: 10px;
    font-weight: 400;
    color: #fff;
}


