/* Icon의 크기 혹은 고정 url 등을 넣어두는 곳입니다. */

.magnifier{
    height: 20px;
    width: 16px;
    padding-right: 25px;
    background-image: url("./../../../images/icons/magnifier.png");
    background-repeat: no-repeat;
}

.arrow-right{
    height: 16px;
    width: 10px;
    background-image: url("./../../../images/arrows/arrow-right.png");
    background-repeat: no-repeat;
}

.icons__camera-xs{
    width: 20.28px;
    height: 16.23px;
}
.icons__pen{
    position: absolute;
    right: 0;
    width: 11.83px;
    height: 11.83px;
}